#b4g_manage {
    display: none;
}

.aeG {
    visibility: hidden;
}

.akc.aZ6 {
    display: none;
}

.gb_bc.gb_Ze.gb_R {
    min-width: 0 ;
}

.gb_ea.gb_2c.gb_R {
    display: none;
}

.gb_jc.gb_2c.gb_R.gb_kc {
    display: none;
}

.l2.ov {
    padding-bottom: 0px;
}

.mt-gmail-button.mt-gmail-button-mailtrack {
    display: none;
}

/* Email read */

/* Boomerang Config */

/* Avatar */

/* Footer */

/* Chat bar bottom left */
